




<hr class="hr-top">
<div class="language-nav">
  <ul class="language">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">JAVASCRIPT</a></li>
    <li><a href="#">RUBY</a></li>
  </ul>  
</div>
<div class="logo">
  <img src="<%= asset_path('AA_Times_Logo.png') %>" alt="App Academy Times Logo">
</div>
<div class="masthead">
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    
    <li>Today’s Paper</li>
    
    <li>Video</li>
    
    <li>77°F</li>
    
    <li>AAO +100%</li>
  </ul>  
</div>
</hr>
