




<hr class="hr-top hr-bottom">
<div class="language-nav">
  <ul class="language">
    <li><a href="#">CSS</a></li>
    <li><a href="#">HTML</a></li>
    <li><a href="#">JAVASCRIPT</a></li>
    <li><a href="#">RUBY</a></li>
  </ul>  
</div>
<div class="logo">
  <img src="<%= asset_path('AA_Times_Logo.png') %>" alt="App Academy Times Logo">
</div>
<div class="masthead">
  <ul class="masthead-links">
    <li><button type="button" name="button">
    <a href="#">Tuesday, October 18, 2016</a>
    </button></li>
    <li><button type="button" name="button">
    <a href="#">Today’s Paper</a>
    </button></li>
    <li><button type="button" name="button">
    <a href="#">Video</a>
    </button></li>
    <li><button type="button" name="button">
    <a href="#">77°F</a>
    </button></li>
    <li><button type="button" name="button">
    <a href="#">AAO <strong>+100%</strong></a>
    </button></li>
  </ul>  
</div>
</hr>
