.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  flex: 1 100%;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  font-family: $serif;
  padding: 10px;
  margin: 0 20px;
}

.right-nav > ul > li {
  font-family: $serif;
  margin: 0 1px;
}

.right-nav > ul > li:last-of-type {
  margin-right: 10px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $light-gray;

}

.left-nav span {
  font-family: $sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0 5px;
}


.right-nav i {
  margin-left: 10px;
  font-size: 20px;
}